 <!-- Checkout section Start -->
    <section class="checkout-section-2 section-b-space">
        <div class="container-fluid-lg">
                <form action="" id="placeorder_form">
                    <input type="text " name="order" value="true" hidden>
            <div class="row g-sm-4 g-3">
                <div class="col-lg-8">
                    <div class="left-sidebar-checkout">
                        <div class="checkout-detail-box">
                            <ul>
                                <li>
                                    <div class="checkout-icon">
                                        <lord-icon target=".nav-item" src="https://cdn.lordicon.com/ggihhudh.json"
                                            trigger="loop-on-hover"
                                            colors="primary:#121331,secondary:#646e78,tertiary:#0baf9a"
                                            class="lord-icon">
                                        </lord-icon>
                                    </div>
                                         <button type="button" class="btn theme-bg-color text-white btn-sm fw-bold mt-lg-0 mt-3"
                                            data-bs-toggle="modal" data-bs-target="#add-address"><i data-feather="plus"
                                                class="me-2"></i> Add New Address</button>
                                    <div class="checkout-box">
                                        <div class="checkout-title">
                                            <h4>Delivery Address</h4>
                                        </div>

                                        

                                        <div class="checkout-detail">
                                             <input  name="userId" value="{{userID}}" hidden>
                                            <div class="row g-4">
                                                {{#if Address}}
                                                {{#each Address}}
                                                <div class="col-xxl-6 col-lg-12 col-md-6">
                                                 
                                                    
                                                    <div class="delivery-address-box">
                                                        
                                                        <div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="Address" value="{{this.Address.id}}"
                                                                    id="{{this.Address.id}}">
                                                            </div>

                                                            <div class="label">
                                                                <label>{{this.Address.Address-Type}}</label>
                                                            </div>

                                                            
                                                            <ul class="delivery-address-detail">
                                                                <li>
                                                                    <h4 class="fw-500">{{this.Address.fullName}}</h4>
                                                                   
                                                                </li>

                                                                <li>
                                                                    <p class="text-content"><span
                                                                            class="text-title">Address
                                                                            : </span>{{this.Address.useradd}} </p>
                                                                </li>

                                                                <li>
                                                                    <h6 class="text-content"><span
                                                                            class="text-title">Pin Code :</span> {{this.Address.pin}}</h6>
                                                                </li>
                                                                <li>
                                                                    <h6 class="text-content"><span
                                                                            class="text-title">House N :</span> {{this.Address.houseNo}}</h6>
                                                                </li>

                                                                <li>
                                                                    <h6 class="text-content mb-0"><span
                                                                            class="text-title">locality:</span> {{this.Address.landMark}}</h6>
                                                                </li>
                                                                <li>
                                                                    <h6 class="text-content mb-0"><span
                                                                            class="text-title">mobile:</span> {{this.Address.mobile}}</h6>
                                                                </li>
                                                                <li>
                                                                    <h6 class="text-content mb-0"><span
                                                                            class="text-title">town:</span> {{this.Address.town}}</h6>
                                                                </li>
                                                            </ul>
                                                 
                                                        </div>
                                                    </div>
                                                    
                                                     
                                                </div>
                                                  {{/each}}  
                                                  {{/if}}   
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkout-icon">
                                        <lord-icon target=".nav-item" src="https://cdn.lordicon.com/qmcsqnle.json"
                                            trigger="loop-on-hover" colors="primary:#0baf9a,secondary:#0baf9a"
                                            class="lord-icon">
                                        </lord-icon>
                                    </div>
                                    <div class="checkout-box">
                                        <div class="checkout-title">
                                            <h4>Payment Option</h4>
                                        </div>

                                        <div class="checkout-detail">
                                            <div class="accordion accordion-flush custom-accordion"
                                                id="accordionFlushExample">
                                                <div class="accordion-item">
                                                    <div class="accordion-header" id="flush-headingFour">
                                                        <div class="accordion-button collapsed"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#flush-collapseFour">
                                                            <div class="custom-form-check form-check mb-0">
                                                                <label class="form-check-label" for="cash"><input
                                                                        class="form-check-input mt-0" type="radio"
                                                                        name="PaymentOption" value="COD" id="COD" checked> Cash
                                                                    On Delivery</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                            {{#if isWallet}}
                                            <div class="accordion-item">
                                                    <div class="accordion-header" id="flush-headingFour">
                                                        <div class="accordion-button collapsed"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#flush-collapseFour">
                                                            <div class="custom-form-check form-check mb-0">
                                                                <label class="form-check-label" for="cash"><input
                                                                        class="form-check-input mt-0" type="radio" 
                                                                        name="PaymentOption" value="wallet" id="wallet" > Wallet  -- ₹({{walletTotal}})
                                                                    </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{else}}
                                                  <div class="accordion-item">
                                                    <div class="accordion-header" id="flush-headingFour">
                                                        <div class="accordion-button collapsed"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#flush-collapseFour">
                                                            <div class="custom-form-check form-check mb-0">
                                                                <label class="form-check-label" for="cash">
                                                                    <input
                                                                        class="form-check-input mt-0 " type="radio" 
                                                                        name="PaymentOption" value="wallet false" id="wallet"  disabled> Wallet   -- ₹({{walletTotal}})  <span style="color: red;">Inssuficient Balance</span>
                                                                    </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{/if}}
                                                <div class="accordion-item">
                                                    <div class="accordion-header" id="flush-headingOne">
                                                        <div class="accordion-button collapsed"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#flush-collapseOne">
                                                            <div class="custom-form-check form-check mb-0">
                                                                <label class="form-check-label" for="credit"><input
                                                                        class="form-check-input mt-0" type="radio"
                                                                        name="PaymentOption" id="razorpay" value="razorPay"> 
                                                                    RazorPay</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>

                                                <div class="accordion-item">
                                                    <div class="accordion-header" id="flush-headingTwo">
                                                        <div class="accordion-button collapsed"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#flush-collapseTwo">
                                                            <div class="custom-form-check form-check mb-0">
                                                                <label class="form-check-label" for="banking"><input
                                                                        class="form-check-input mt-0" type="radio"
                                                                        name="PaymentOption" value="paypal" id="Paypal">Paypal</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>

                                                {{!-- <div class="accordion-item">
                                                    <div class="accordion-header" id="flush-headingThree">
                                                        <div class="accordion-button collapsed"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#flush-collapseThree">
                                                            <div class="custom-form-check form-check mb-0">
                                                                <label class="form-check-label" for="wallet"><input
                                                                        class="form-check-input mt-0" type="radio"
                                                                        name="flexRadioDefault" id="wallet">My
                                                                    Wallet</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                                                        data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <h5 class="text-uppercase mb-4">Select Your Wallet
                                                            </h5>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="custom-form-check form-check">
                                                                        <label class="form-check-label"
                                                                            for="amazon"><input
                                                                                class="form-check-input mt-0"
                                                                                type="radio" name="flexRadioDefault"
                                                                                id="amazon">Amazon Pay</label>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="custom-form-check form-check">
                                                                        <input class="form-check-input mt-0"
                                                                            type="radio" name="flexRadioDefault"
                                                                            id="gpay">
                                                                        <label class="form-check-label"
                                                                            for="gpay">Google Pay</label>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="custom-form-check form-check">
                                                                        <input class="form-check-input mt-0"
                                                                            type="radio" name="flexRadioDefault"
                                                                            id="airtel">
                                                                        <label class="form-check-label"
                                                                            for="airtel">Airtel Money</label>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="custom-form-check form-check">
                                                                        <input class="form-check-input mt-0"
                                                                            type="radio" name="flexRadioDefault"
                                                                            id="paytm">
                                                                        <label class="form-check-label"
                                                                            for="paytm">Paytm Pay</label>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="custom-form-check form-check">
                                                                        <input class="form-check-input mt-0"
                                                                            type="radio" name="flexRadioDefault"
                                                                            id="jio">
                                                                        <label class="form-check-label" for="jio">JIO
                                                                            Money</label>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="custom-form-check form-check">
                                                                        <input class="form-check-input mt-0"
                                                                            type="radio" name="flexRadioDefault"
                                                                            id="free">
                                                                        <label class="form-check-label"
                                                                            for="free">Freecharge</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> --}}
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>

                                    
                                </li>


                            </ul>
                        </div>
                        </div>
                        </div>

                        <div class="col-lg-4">
                        <div class="right-side-summery-box">
                        <div class="summery-box-2">
                            <div class="summery-header">
                                <h3>Order Summery</h3>
                            </div>

                            <ul class="summery-contain">
                                 {{#if products}}
                                    {{#each products}}
                                <li>
                                    <img  src="{{this.cart_product.urlImage1}} "
                                        class="img-fluid blur-up lazyloaded checkout-image" alt="">
                                    <h4>{{this.cart_product.ProductName}} <span>{{this.quantity}}</span></h4>
                                    {{#if this.cart_product.offer }}
                                    <h4 class="price">{{this.cart_product.offer}}   </h4> <span><del>{{this.cart_product.Price}}</del></span>
                                    {{else}}
                                    <h4 class="price">{{this.cart_product.Price}}   </h4> 
                                    {{/if}}

                                </li>
                                 {{/each}}
                                {{/if}}
                            </ul>
                              

                            <ul class="summery-total">
                                {{!-- <li>
                                    <h4>Subtotal</h4>
                                    <h4 class="price">{{total}}</h4>
                                </li> --}}

                                {{!-- <li>
                                    <h4>Shipping</h4>
                                    <h4 class="price">$8.90</h4>
                                </li> --}}

                                {{!-- <li>
                                    <h4>Tax</h4>
                                    <h4 class="price">$29.498</h4>
                                </li> --}}

                                {{!-- <li>
                                    <h4>Coupon/Code</h4>
                                    <h4 class="price">$-23.10</h4>
                                </li> --}}

                                <li class="list-total">
                                    <h4>Total (INR)</h4>
                                    <h4 class="price"> {{total}}</h4>
                                </li>
                             
                            </ul>
                        </div>

                        <div class="checkout-offer">
                            <div class="offer-title">
                                <div class="offer-icon">
                                    <img src="../assets/images/inner-page/offer.svg" class="img-fluid" alt="">
                                </div>
                                <div class="offer-name">
                                    <h6>Available Offers</h6>
                                </div>
                            </div>

                            <ul class="offer-detail">
                                <li>
                                    <p>Combo: BB Royal Almond/Badam Californian, Extra Bold 100 gm...</p>
                                </li>
                                <li>
                                    <p>combo: Royal Cashew Californian, Extra Bold 100 gm + BB Royal Honey 500 gm</p>
                                </li>
                            </ul>
                        </div>

                        <button class="btn theme-bg-color text-white btn-md w-100 mt-4 fw-bold" type="submit">Place Order</button>
                    </div>
                </div>
            </div>
                </form>
        </div>

    <div class="modal fade theme-modal" id="add-address" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add a new address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="http://localhost:8001/user/addAddress" method="post">
                        <div>
                                <div class="form-floating theme-form-floating">
                                    <select name="Address-Type" class="form-select" id="floatingSelect">
                                        <option selected>Choose Address Type</option>
                                        <option  >Home</option>
                                        <option >Work</option>
                                       
                                    </select>
                                    <label for="floatingSelect">Address Type</label>
                                </div>
                            <div class="form-floating mb-4 theme-form-floating">
                                <input type="text" class="form-control" id="fname" name="fullName"
                                    placeholder="Enter Full Name" oninput="validateName()">
                                <label for="fname">Full Name</label>
                                <span id="name-error" style="color: red;"></span>
                            </div>
                             <div class="form-floating mb-4 theme-form-floating">
                                <input type="number" class="form-control" id="mobile" name="mobile"
                                    placeholder="mobile No" oninput="validatePhone()">
                                <label for="lname">mobile No</label>
                             <span id="phone-error" style="color: red;"></span>

                            </div>
                            <div class="form-floating mb-4 theme-form-floating">
                                <input type="number" class="form-control" id="pin" name="pin" placeholder="Enter Pin Code" oninput="validatePin()">
                                <label for="pin">Pin Code</label>
                                  <span id="pin-error" style="color: red;"></span>
                            </div>
                            <div class="form-floating mb-4 theme-form-floating">
                                <input type="number" class="form-control" id="houseNo" name="houseNo"
                                    placeholder="" oninput="validateHouse()">
                                <label for="Houseno"> House No/flat No</label>
                                  <span id="house-error" style="color: red;"></span>
                            </div>

                          
                            <div class="form-floating mb-4 theme-form-floating">
                                <input type="text" class="form-control" id="landmarkad" name="landMark"
                                    placeholder="landmark" oninput="validateLandmark()">
                                <label for="lname">LandMark</label>
                                  <span id="landmark-error" style="color: red;"></span>
                            </div>
                            <div class="form-floating mb-4 theme-form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" name="useradd"
                                    id="address" style="height: 100px" oninput="validateAddress()"></textarea>
                                <label for="address">Enter Address</label>
                                  <span id="address-error" style="color: red;"></span>
                            </div>
                            <div class="form-floating mb-4 theme-form-floating">
                                <input type="text" class="form-control" id="town" name="town" oninput="validateTown()">
                                <label for="lname">town/city</label>
                                  <span id="town-error" style="color: red;"></span>
                            </div>
    
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-md"
                                    data-bs-dismiss="modal">Close</button>
                                <button type="submit"  onclick="submitAdd()" class="btn theme-bg-color btn-md text-white"

                                    data-bs-dismiss="modal">Add </button>
                                    <span id="submit-error" style="color: red;" ></span>
                                    <span id="error" style="color: red;" >{{error}}</span>
                            </div>
                    </form>
                </div>
    
            </div>
        </div>
    </div>


    </section>

    <!-- Checkout section End -->
<script src="http://localhost:4000/javascripts/address-val.js"></script>

  
<script>
         
        $("#placeorder_form").submit((e)=>{
            e.preventDefault()
            console.log("called")
            $.ajax({
                url:'http://localhost:8001/user/placeOrder',
                data:$('#placeorder_form').serialize(),
                method:'post',
                success:(response )=> {
                    console.log("sucesss")
           
                     if(response.status=="razorpay") {
                        console.log(response)
                        razorpayPayment(response.response)
                    }
                    else if(response.status=='paypal'){
                        window.location = response.forwardLink
                    } else if(response.status ==true){
                         location.href="http://localhost:8001/user/orderSuccess"
                    }
                },
                 error:(xhr, thrownError)=>{
                    console.log("isdda")
                    Swal.fire({
                    icon: 'error',
                    title: 'Address Not Selected',
                    text: 'Please Select one address',
               
              })
        }
            })
        })

        function razorpayPayment(order) {
           
            var options = {
                "key": "rzp_test_Sy2vxgrKq0I75D", // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "MIo Amore",
                "description": "Enjoy Fashion",
                "image": "http://localhost:4000/images/logopng.png",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    verifyPayment(response, order)
                },
                "prefill": {
                    "name": "Mio Amore",
                    "email": "Mioammore@gmail.com",
                    "contact": "1234567890"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                },
                "modal": {
                    "ondismiss": function () {
                        razorpayClose()
                    }
                }
            };
            
            var rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', function (response) {
                paymentFailed(response.error.description)
            });
            rzp1.open();
        }


        function verifyPayment(payment,order){
            console.log("entered verify")
            console.log(payment)
            console.log(order.receipt)
            $.ajax({
                url:'http://localhost:8001/user/placeOrder',
                data:{
                    payment,order
                },
                method:"post",
            })
        }
        
    </script>
