


         <!-- Home Section Start -->
    <section class="home-section-2 home-section-bg pt-0 overflow-hidden">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-12">
                    <div class="slider-animatxe">
                        <div>
                            {{#if banner1.isbanner1}}

                            <a href="{{banner1.linkto}}">
                                <div class="home-contain rounded-0 p-0">
                                    <img src="{{banner1.bannerUrl1}}" class="img-fluid bg-img blur-up lazyload" alt="">
                                    <div class="home-detail home-big-space p-center-left home-overlay position-relative">
                                        <div class="container-fluid-lg">
                                            <div>
                                                <h6 class="ls-expanded text-uppercase text-danger">Weekend Special offer
                                                </h6>
                                                <h1 class="heding-2">Premium Quality</h1>
                                                <h5 class="text-content">Brands & Top Quality products are available here!
                                                </h5>
                                                <button onclick="location.href = 'shop-left-sidebar.html';"
                                                    class="btn theme-bg-color btn-md text-white fw-bold mt-md-4 mt-2 mend-auto">Shop
                                                    Now <i class="fa-solid fa-arrow-right icon"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Section End -->
     
     
       {{!-- <!-- Category Section Start -->

    <!-- Category Section End --> --}}
   <!-- Deal Section Start -->
    <section class="product-section product-section-3">
        <div class="container-fluid-lg">
            <div class="title">
                <h2>Top Selling Items</h2>
            </div>
            <div class="row g-sm-4 g-3">
                <div class="col-xxl-12 ratio_110">
                    <div class="slider-6 img-slider">
                                {{#each data.all}}
                        <div>
                            <div class="product-box-5 wow fadeInUp">
                                <div class="product-image">
                                    <a href="/product/{{this._id}}">   
                                        <img src="{{this.urlImage1}}"
                                            class="img-fluid blur-up lazyload bg-img" alt="no image">
                                    </a>
                                    

                                    <a href="javascript:void(0)" class="wishlist-top" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Wishlist">
                                        <i data-feather="bookmark"></i>
                                    </a>

                                    <ul class="product-option">
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                            <a href="/product/{{this._id}}" >
                                                <i data-feather="eye"></i>
                                            </a>
                                        </li>

                                    

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                            <a href="/addToWishlist/{{this._id}}" class="notifi-wishlist">
                                                <i data-feather="heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="product-detail">
                                    <a href="product-left-thumbnail.html">
                                        <h5 class="name">{{this.ProductName}}</h5>
                                    </a>

                                    <h5 class="sold text-content">
                                        <span class="theme-color price">₹ {{this.Price}}</span>
                                        <del>₹ {{this.MRP}}</del>
                                    </h5>
                                </div>
                          
                            </div>
                        </div>

                  {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Deal Section End -->

    <!-- banner section start -->

    <section>
        <div class="container-fluid-lg">
            <div class="row g-md-4 g-3">
                {{#if banner2.isbanner2}}
                <a href="{{banner2.linkto}}">
                    <div class="col-xxl-8 col-xl-12 col-md-7">
                    <div class="banner-contain hover-effect">
                        <img src="{{banner2.bannerUrl2}}" class="bg-img blur-up lazyload" alt="">
                        <div class="banner-details p-center-left p-4">
                            <div>
                                <h2 class="text-kaushan fw-normal theme-color">Get Ready To</h2>
                                <h3 class="mt-2 mb-3">TAKE ON THE DAY!</h3>
                                <p class="text-content banner-text">New collection ofJunberry sweatshirts available</p>
                                <button onclick="location.href = 'shop-left-sidebar.html';"
                                    class="btn btn-animation btn-sm mend-auto">checkout Now<i
                                        class="fa-solid fa-arrow-right icon"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
                {{/if}}
                {{#if banner3.isbanner3}}
                <div class="col-xxl-4 col-xl-12 col-md-5">
                    <a href="{{banner3.linkto}}" class="banner-contain hover-effect h-100">
                        <img src="{{banner3.bannerUrl3}}" class="bg-img blur-up lazyload" alt="">
                        <div class="banner-details p-center-left p-4 h-100">
                            <div>
                                <h2 class="text-kaushan fw-normal text-danger">offers Available on all Procuts</h2>
                                {{!-- <h3 class="mt-2 mb-2 theme-color">SUMMRY</h3> --}}
                                <h3 class="fw-normal product-name text-title">Product</h3>
                            </div>
                        </div>
                    </a>
                </div>
                {{/if}}
            </div>
        </div>
    </section>
    <!-- banner section end -->


   
    <!-- Deal Section Start -->
    <section class="product-section product-section-3">
        <div class="container-fluid-lg">
            <div class="title">
                <h2>Top Selling Items</h2>
            </div>
            <div class="row g-sm-4 g-3">
                <div class="col-xxl-12 ratio_110">
                    <div class="slider-6 img-slider">
                                {{#each data.all}}
                        <div>
                            <div class="product-box-5 wow fadeInUp">
                                <div class="product-image">
                                    <a href="/product/{{this._id}}">   
                                        <img src="{{this.urlImage1}}"
                                            class="img-fluid blur-up lazyload bg-img" alt="no image">
                                    </a>
                                    

                                    <a href="javascript:void(0)" class="wishlist-top" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Wishlist">
                                        <i data-feather="bookmark"></i>
                                    </a>

                                    <ul class="product-option">
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                            <a href="/product/{{this._id}}" >
                                                <i data-feather="eye"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                            <a href="compare.html">
                                                <i data-feather="refresh-cw"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                            <a href="/addToWishlist/{{this._id}}" class="notifi-wishlist">
                                                <i data-feather="heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="product-detail">
                                    <a href="product-left-thumbnail.html">
                                        <h5 class="name">{{this.ProductName}}</h5>
                                    </a>

                                    <h5 class="sold text-content">
                                        <span class="theme-color price">₹ {{this.Price}}</span>
                                        <del>₹ {{this.MRP}}</del>
                                    </h5>
                                </div>
                          
                            </div>
                        </div>

                        

                        

                        

                      
                  {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Deal Section End -->

 {{#if banner3.isbanner3}}
        <!-- banner section start -->
    <section class="section-t-space">
        <div class="container-fluid-lg">
            <div class="banner-contain">
                <a href="{{banner3.linkto}}">
                    <img src="{{banner3.bannerUrl3}}" class="bg-img blur-up lazyload" alt="">
                <div class="banner-details p-center p-4 text-white text-center">
                    <div>
                        <h3 class="lh-base fw-bold offer-text">Get  Cashbacks!for All Orders</h3>
                        <h6 class="coupon-code coupon-code-white">Go to our shop to find more</h6>
                    </div>
                </div>
                </a>
                

            </div>
        </div>
    </section>
    <!-- banner section start -->
    {{/if}}