
 <!-- Product Left Sidebar Start -->
    <section class="product-section">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-9 col-xl-8 col-lg-7 wow fadeInUp">
                    <div class="row g-4">
                        <div class="col-xl-6 wow fadeInUp">
                            <div class="product-left-box">
                                <div class="row g-sm-4 g-2">
                                    <div class="col-12">
                                        <div class="product-main no-arrow">
                                            <div>
                                                <div class="slider-image" id="img1">
                                                    <img src="{{data.urlImage1}}" id="img-1">
                                                </div>
                                            </div>

                                            <div>
                                                <div class="slider-image" id="img2">
                                                    <img src="{{data.urlImage2}} " id="img-2" >
                                                </div>
                                            </div>

                                            <div>
                                                <div class="slider-image" id="img3" >
                                                    <img src="{{data.urlImage3}}">
                                                </div>
                                            </div>

                                            <div>
                                                <div class="slider-image" id="img4">
                                                    <img src="{{data.urlImage4}}">
                                                </div>
                                            </div>

                                            

                                           
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="left-slider-image left-slider no-arrow slick-top">
                                            <div>
                                                <div class="sidebar-image">
                                                    <img src="{{data.urlImage1}}"
                                                        class="img-fluid blur-up lazyload" alt="">
                                                </div>
                                            </div>

                                            <div>
                                                <div class="sidebar-image">
                                                    <img src="{{data.urlImage2}}"
                                                        class="img-fluid blur-up lazyload" alt="">
                                                </div>
                                            </div>

                                            <div>
                                                <div class="sidebar-image">
                                                    <img src="{{data.urlImage3}}"
                                                        class="img-fluid blur-up lazyload" alt="">
                                                </div>
                                            </div>

                                            <div>
                                                <div class="sidebar-image">
                                                    <img src="{{data.urlImage4}}"
                                                        class="img-fluid blur-up lazyload" alt="">
                                                </div>
                                            </div>

                                           

                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 wow fadeInUp">
                            <div class="right-box-contain">

                                <h6 class="offer-top" id="offer">{{data.offer}}% Off</h6>
                                <h2 class="name">{{data.ProductName}}</h2>
                                <input type="text" id="productId" value="{{data._id}}" hidden>
                                <div class="price-rating">


                                    <h3 class="theme-color price" id="Price">₹{{data.Price}}</h3> <del class="text-content"  >₹{{data.MRP}}</del>
                                    <span     class="offer theme-color">({{data.offer}}% off)</span> 
                                            <input type="text" id="MRP" value="{{data.MRP}}" hidden>
                                            <input type="text " value="{{data.averageRating}}" id="avgRating" hidden>
                                            {{!-- class="offer theme-color">(8% off)</span></h3> --}}
                                    <div class="product-rating custom-rate">
                                        <ul class="rating">
                                            <li>
                                                <i data-feather="star" id="star1"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"id="star2"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" id="star3"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" id="star4"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" id="star5"></i>
                                            </li>
                                        </ul>
                                        <span class="review">{{revCount}} customer reviews</span>
                                    </div>
                                </div>

                                <div class="procuct-contain">
                                    <p>
                                    {{data.Description}}
                                        
                                    </p>
                                </div>

                                <div class="product-packege">
                                    <div class="product-title">
                                        <h4>Size</h4>
                                    </div>
                                        <h4 id="Varient_error" style="color: red;"></h4>
                                    <ul class="select-packege">
                                        <li>
<style>
    .select-packege li a.active button{
        color:white
    }
</style>
                                            <a > <button type="button" style="border: none; background: none;" class="variations"  onclick=" return Variation('{{data.Price}}','{{data.Size}}','{{data.Color}}','{{data._id}}','{{data.inStock}}','{{data._id}}')" >Size : {{data.Size}}  Color :{{data.Color}}</button> </a>
                                        </li>
                                        {{#each Variations}}

                                        <li>
                                            {{!-- <form action="http://localhost:8001/user/VariationSelect"> --}}
                                                {{!-- <input type="text" name="variationId"  value="{{this.Variations.Data.id}}" hidden> --}}
                                                {{!-- <input type="text" name="prodId"  value="{{data._id}}" hidden> --}}
                                            {{!-- <a > <button type="submit" style="border: none; background: none;" >Size : {{this.Variations.Data.Size}}  Color :{{this.Variations.Data.color}}</button> </a> --}}
                                            
                                            {{!-- </form> --}}
                                            {{!-- <h1>{{this.Variations.id}}</h1> --}}
                                            <a > <button type="button" style="border: none; background: none;" class="variations"  onclick=" return Variation('{{this.Variations.Data.Price}}','{{this.Variations.Data.Size}}','{{this.Variations.Data.color}}','{{this.Variations.Data.id}}','{{this.Variations.Data.inStock}}','{{this.Variations.id}}')" >Size : {{this.Variations.Data.Size}}  Color :{{this.Variations.Data.color}}</button> </a>
                                        </li>
                                      
                                        {{/each}}
                                    </ul>
                                </div>

                                 <div class="pickup-box">

                                        <div class="product-info">
                                            <ul class="product-info-list product-info-list-2">
                                                <li id="proSize" >Size : {{data.Size}} </a></li>
                                                <li id="proColor" >Color : {{data.Color}} </a></li>


                                            </ul>
                                        </div>
                                    </div>



                                <div class="note-box product-packege">
                                    <div class="cart_qty qty-box product-qty">
                                        <div class="input-group">
                                            {{#if data.COD}}
                                            <span>Cash On Delivery Available</span>
                                            {{else}}
                                            <span>Cash On Delivery Not Available</span>
                                            {{/if}}
                                        </div>

                                    </div>
                                    {{#if data.Availability}}


                                   {{!-- <a href="/user/addToCart/{{data._id}}">  <button 
                                        class="btn btn-md bg-dark cart-button text-white w-100">Add To Cart</button>
                                        </a> --}}
                                        <button id="addToCartButton" class="btn btn-md bg-dark cart-button text-white w-100" 
                                        onclick="addToCart('{{data._id}}')">ADD TO CART </button>


                                       <a href="/user/usercart"> <button id="goToCartButton" style="display: none;" class="btn btn-md bg-dark cart-button text-white w-100" > Item in Cart.. Go to cart <i class="fa-solid fa-arrow-right icon"></i> </button> </a> 

                                        <button id="addToCartUnavailable" style="display: none;" class="btn btn-md bg-dark cart-button text-white w-100" >Currently Not Available</button>
                                        {{else}}
                                        <button  class="btn btn-md bg-dark cart-button text-white w-100" >Currently Not Available</button>
                                        {{/if}}

                                </div>

                                <div class="buy-box">
                                    {{#if wishlist }}
                                    
                                    <a href="/user/addToWishlist/{{data._id}}">
                                        <i data-feather="heart"></i>
                                        <span style="color: red;">Remove from Wishlist</span>
                                    </a>
                                    {{else}}
                                      <a href=" /user/addToWishlist/{{data._id}}">
                                        <i data-feather="heart"></i>
                                        <span>Add To Wishlist</span>
                                    </a>
                                    
                                    {{/if}}
                                    {{!-- <a href="compare.html"> --}}
                                        {{!-- <i data-feather="shuffle"></i> --}}
                                        {{!-- <span>Add To Compare</span> --}}
                                    {{!-- </a> --}}
                                </div>

                                    {{!-- <div class="pickup-box">
                                        <div class="product-title">
                                            <h4>Store Information</h4>
                                        </div>

                                        <div class="pickup-detail">
                                            <h4 class="text-content">Lollipop cake chocolate chocolate cake dessert jujubes.
                                                Shortbread sugar plum dessert powder cookie sweet brownie.</h4>
                                        </div>

                                        <div class="product-info">
                                            <ul class="product-info-list product-info-list-2">
                                                <li>Type : <a href="javascript:void(0)">Black Forest</a></li>
                                                <li>SKU : <a href="javascript:void(0)">SDFVW65467</a></li>
                                                <li>MFG : <a href="javascript:void(0)">Jun 4, 2022</a></li>
                                                <li>Stock : <a href="javascript:void(0)">2 Items Left</a></li>
                                                <li>Tags : <a href="javascript:void(0)">Cake,</a> <a
                                                        href="javascript:void(0)">Backery</a></li>
                                            </ul>
                                        </div>
                                    </div> --}}

                                <div class="paymnet-option">
                                    <div class="product-title">
                                        <h4>Guaranteed Safe Checkout</h4>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="../assets/images/product/payment/1.svg"
                                                    class="blur-up lazyload" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="../assets/images/product/payment/2.svg"
                                                    class="blur-up lazyload" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="../assets/images/product/payment/3.svg"
                                                    class="blur-up lazyload" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="../assets/images/product/payment/4.svg"
                                                    class="blur-up lazyload" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="../assets/images/product/payment/5.svg"
                                                    class="blur-up lazyload" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

             <div class="col-12">
                            <div class="product-section-box">
                                <ul class="nav nav-tabs custom-nav" id="myTab" role="tablist">
                                   

                                   

                                    <li class="nav-item" role="presentation">
                                        <button  class="nav-link" id="review-tab" data-bs-toggle="tab"
                                            data-bs-target="#review" type="button" role="tab" aria-controls="review"
                                            aria-selected="false">Reviews</button>
                                    </li>
                                </ul>

                                <div class="tab-content custom-tab" id="myTabContent">
                                    

                                    

                                    

                                    <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                                        <div class="review-box">
                                            <div class="row g-4">
                                                <div class="col-xl-6">
                                                    

                                                    

                                                    
                                                </div>

                                                

                                                <div class="col-12">
                                                    <div class="review-title">
                                                        <h4 class="fw-500">Customer questions & answers</h4>
                                                    </div>

                                                    <div class="review-people">
                                                        <ul class="review-list">
                                                            {{#each reviews}}
                                                            <li  >
                                                                <div class="people-box">
                                                                    {{!-- <div>
                                                                        <div class="people-image">
                                                                            <img src="../assets/images/review/1.jpg"
                                                                                class="img-fluid blur-up lazyload"
                                                                                alt="">
                                                                        </div>
                                                                    </div> --}}

                                                                    <div class="people-comment">
                                                                        <a class="name"
                                                                            href="javascript:void(0)">{{this.users.username}}</a>
                                                                        <div class="date-time">
                                                                            <h6 class="text-content">{{this.date}}</h6>

                                                                            <div  class="product-rating">
                                                                                <input type="text" id="userRating" value="{{this.rating}}" hidden >
                                                                                <ul class="rating">
                                                                                {{#eq this.rating 1}}
                                                                                    <li>
                                                                                        <i data-feather="star"
                                                                                           id="us1" class="fill"></i>
                                                                                    </li>
                                                                                    <li>
                                                                                        <i data-feather="star"
                                                                                           id="us1" ></i>
                                                                                    </li>
                                                                                    <li>
                                                                                        <i data-feather="star"
                                                                                           id="us1" ></i>
                                                                                    </li>
                                                                                    <li>
                                                                                        <i data-feather="star"
                                                                                           id="us1" ></i>
                                                                                    </li>
                                                                                    <li>
                                                                                        <i data-feather="star"
                                                                                           id="us1" ></i>
                                                                                    </li>
                                                                                    {{/eq}}

                                                                                     {{#eq this.rating 2}}
                                                                                    <li>
                                                                                        <i data-feather="star"
                                                                                            class="fill"></i>
                                                                                    </li>
                                                                                           <li>
                                                                                        <i data-feather="star"
                                                                                            class="fill"></i>
                                                                                    </li>
                                                                                    <li>
                                                                                        <i data-feather="star"
                                                                                           id="us1" ></i>
                                                                                    </li>
                                                                                          <li>
                                                                                        <i data-feather="star"
                                                                                           id="us1" ></i>
                                                                                    </li>
                                                                                          <li>
                                                                                        <i data-feather="star"
                                                                                           id="us1" ></i>
                                                                                    </li>
                                                                                    
                                                                                    {{/eq}}
                                                                                         {{#eq this.rating 3}}
                                                                                    <li>
                                                                                        <i data-feather="star"
                                                                                            class="fill"></i>
                                                                                    </li>
                                                                                   <li>
                                                                                        <i data-feather="star"
                                                                                            class="fill"></i>
                                                                                    </li>
                                                                                    </li>
                                                                                    <li>
                                                                                        <i data-feather="star"
                                                                                            class="fill"></i>
                                                                                    </li>
                                                                                          <li>
                                                                                        <i data-feather="star"
                                                                                           id="us1" ></i>
                                                                                    </li>
                                                                                          <li>
                                                                                        <i data-feather="star"
                                                                                           id="us1" ></i>
                                                                                    </li>
                                                                                    {{/eq}}

                                                                                        {{#eq this.rating 4}}
                                                                                    <li>
                                                                                        <i data-feather="star"
                                                                                            class="fill"></i>
                                                                                    </li>
                                                                                   <li>
                                                                                        <i data-feather="star"
                                                                                            class="fill"></i>
                                                                                    </li>
                                                                                    </li>
                                                                                    <li>
                                                                                        <i data-feather="star"
                                                                                            class="fill"></i>
                                                                                    </li>
                                                                                    <li>
                                                                                        <i data-feather="star"
                                                                                            class="fill"></i>
                                                                                    </li>
                                                                                          <li>
                                                                                        <i data-feather="star"
                                                                                           id="us1" ></i>
                                                                                    </li>
                                                                                    {{/eq}}

                                                                                                  {{#eq this.rating 5}}
                                                                                    <li>
                                                                                        <i data-feather="star"
                                                                                            class="fill"></i>
                                                                                    </li>
                                                                                   <li>
                                                                                        <i data-feather="star"
                                                                                            class="fill"></i>
                                                                                    </li>
                                                                                    </li>
                                                                                    <li>
                                                                                        <i data-feather="star"
                                                                                            class="fill"></i>
                                                                                    </li>
                                                                                    <li>
                                                                                        <i data-feather="star"
                                                                                            class="fill"></i>
                                                                                    </li>
                                                                                    <li>
                                                                                        <i data-feather="star"
                                                                                            class="fill"></i>
                                                                                    </li>
                                                                                    {{/eq}}
                                                                                </ul>
                                                                            </div>
                                                                        </div>

                                                                        <div class="reply">
                                                                            <p>{{this.review}}
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>

                                                           
                                                                    {{/each}}
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xxl-3 col-xl-4 col-lg-5 d-none d-lg-block wow fadeInUp">
                    <div class="right-sidebar-box">
                        <div class="vendor-box">
                            <div class="verndor-contain">
                                {{!-- <div class="vendor-image">
                                    <img src="../assets/images/product/vendor.png" class="blur-up lazyload" alt="">
                                </div> --}}

                                <div class="vendor-name">
                                    <h5 class="fw-500">{{data.Company}}</h5>

                                    {{!-- <div class="product-rating mt-1">
                                        <ul class="rating">
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                        </ul>
                                        <span>(36 Reviews)</span>
                                    </div> --}}

                                </div>
                                
                            </div>
                            

                            {{!-- <p class="vendor-detail">Noodles & Company is an American fast-casual
                                restaurant that offers international and American noodle dishes and pasta.</p> --}}

                            {{!-- <div class="vendor-list">
                                <ul>
                                    <li>
                                        <div class="address-contact">
                                            <i data-feather="map-pin"></i>
                                            <h5>Address: <span class="text-content">1288 Franklin Avenue</span></h5>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="address-contact">
                                            <i data-feather="headphones"></i>
                                            <h5>Contact Seller: <span class="text-content">(+1)-123-456-789</span></h5>
                                        </div>
                                    </li>
                                </ul>
                            </div> --}}
                        </div>

                        {{!-- <div class="pt-25">
                            <div class="hot-line-number">
                                <h5>Hotline Order:</h5>
                                <h6>Mon - Fri: 07:00 am - 08:30PM</h6>
                                <h3>(+1) 123 456 789</h3>
                            </div>
                        </div> --}}
                    </div>


                     <div class="pt-25">
                            <div class="category-menu">
                                <h3>Available coupens</h3>

                                <ul class="product-list product-right-sidebar border-0 p-0">
                                    {{#each normalCoupens}}
                                    <li>
                                        <div class="offer-product">
                                            <div class="offer-detail">
                                                <div>
                                                    <h6 class="price theme-color"> {{this.name}}</h6>
                                                    <h6 class="price theme-color">use the code : {{this.code}}</h6>
                                                    </a>
                                                    {{#if this.percentage}}
                                                    <span>{{this.percentage}}% off !!!</span>
                                                    {{else}}
                                                    <span>flat {{this.amount}} rupees off !!!</span>
                                                    {{/if}}
                                                        <h6 class="name">* minimum Purchase of rupees :{{this.minLimit}}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    

                                  

                                    
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                </div>
                
            </div>
        </div>

        
    </section>
    <!-- Product Left Sidebar End -->


    <script src="https://unpkg.com/js-image-zoom/js-image-zoom.js"></script>
   
<script src="https://cdn.jsdelivr.net/npm/js-image-zoom/js-image-zoom.min.js"></script>

<script>
    let id
    let productId = document.getElementById('productId').value
    
    let avrRating = document.getElementById("avgRating").value
    if(avrRating ==0){

    }else if(avrRating == 1){
        let s1 = document.getElementById('star1').classList.add("fill");
    }else if(avrRating == 2){
        let s1 = document.getElementById('star1').classList.add("fill");
        let s2 = document.getElementById('star2').classList.add("fill");
    }else if(avrRating == 3){
        let s1 = document.getElementById('star1').classList.add("fill");
        let s2 = document.getElementById('star2').classList.add("fill");
        let s3 = document.getElementById('star3').classList.add("fill");
    }else if(avrRating == 4){
        let s1 = document.getElementById('star1').classList.add("fill");
        let s2 = document.getElementById('star2').classList.add("fill");
        let s3 = document.getElementById('star3').classList.add("fill");
        let s4 = document.getElementById('star4').classList.add("fill");
    }else if(avrRating == 5){
        let s1 = document.getElementById('star1').classList.add("fill");
        let s2 = document.getElementById('star2').classList.add("fill");
        let s3 = document.getElementById('star3').classList.add("fill");
        let s4 = document.getElementById('star4').classList.add("fill");
        let s5 = document.getElementById('star5').classList.add("fill");
    }


  let userRating = document.getElementById('userRating').value

        if(userRating ==1){
             let us1 = document.getElementById('us1').classList.add("fill");
        }else if(userRating ==2){
             let us1 = document.getElementById('us1').classList.add("fill");
             let us2 = document.getElementById('us2').classList.add("fill");
        }else if(userRating ==3){
             let us1 = document.getElementById('us1').classList.add("fill");
             let us2 = document.getElementById('us2').classList.add("fill");
             let us3 = document.getElementById('us3').classList.add("fill");
        }else if(userRating ==4){
             let us1 = document.getElementById('us1').classList.add("fill");
             let us2 = document.getElementById('us2').classList.add("fill");
             let us3 = document.getElementById('us3').classList.add("fill");
             let us4 = document.getElementById('us4').classList.add("fill");
        }else if(userRating ==5){
             let us1 = document.getElementById('us1').classList.add("fill");
             let us2 = document.getElementById('us2').classList.add("fill");
             let us3 = document.getElementById('us3').classList.add("fill");
             let us4 = document.getElementById('us4').classList.add("fill");
             let us5 = document.getElementById('us5').classList.add("fill");
        }

      


    var options = {
        width: 400, // required
        zoomWidth: 400,
        scale: 1,
        offset: {
            horizontal: -420
        }
    };
    new ImageZoom(document.getElementById('img1'), options)
     new ImageZoom(document.getElementById('img2'), options)
         new ImageZoom(document.getElementById('img3'), options)
     new ImageZoom(document.getElementById('img4'), options)






    function Variation(varientPrice,varientSize,varientColor,ids,stock,sizeId){
        id = {
            varientId:ids,
            sizeId
        }
        let error = document.getElementById('Varient_error').innerHTML=''

    if(stock == "true"){
        $.ajax({
                 url:"http://localhost:8001/user/check_quantity",
                 method:"post",
                 data:{
                    varientId:id.varientId,
                    sizeId:id.sizeId,
                    productId
                    
                 },
                 success(response){

                    if(response.status == true){
                    let cartbtn = document.getElementById('addToCartButton').style.display = 'block'
                    let unAvailable = document.getElementById('addToCartUnavailable').style.display= 'none'
                      let gotoCart = document.getElementById('goToCartButton').style.display="none"

                    }else {
                    let cartbtn = document.getElementById('addToCartButton').style.display = 'none'
                    let unAvailable = document.getElementById('addToCartUnavailable').style.display= 'none'
                    let gotoCart = document.getElementById('goToCartButton').style.display="block"


                    }
                 },
        })
    }else{
        let cartbtn = document.getElementById('addToCartButton').style.display = 'none'
        let unAvailable = document.getElementById('addToCartUnavailable').style.display= 'block'
         let gotoCart = document.getElementById('goToCartButton').style.display="none"
    }
    let Price = document.getElementById('Price').innerHTML =` ₹ ${varientPrice}`
    let proSize = document.getElementById('proSize').innerHTML= `Size : ${varientSize}`
    let proColor = document.getElementById('proColor').innerHTML= `Color : ${varientColor}`
    let MRP = document.getElementById('MRP').value
     let offer = document.getElementById('offer') 
     let offer1 = document.getElementById('offer1') 
     let of= parseInt(((MRP-varientPrice)/MRP)*100)

     offer.innerHTML= `${of}% Off`
     {{!-- offer1.innerHTML= `(${of}% off)` --}}
 }


 function addToCart(prodId){

    if(id){
        $.ajax({
        url:' http://localhost:8001/user/addToCart',
        data:{
            prodId,
           varient:id.varientId,
           sizeId:id.sizeId
        },
        method:'post',
        success:(response)=>{
            if(response.status){
                let count=$('#cartCount').html()
                count=parseInt(count)+1
                $('#cartCount').html(count)
                 Swal.fire({
                    icon: 'success',
                    title: 'Added to Cart',
                    showConfirmButton: false,
                    timer: 1000
                  })
                    let cartbtn = document.getElementById('addToCartButton').style.display = 'none'
                    let unAvailable = document.getElementById('addToCartUnavailable').style.display= 'none'
                    let gotoCart = document.getElementById('goToCartButton').style.display="block"


            }
            // alert(response)  
        } ,
        error:(xhr, thrownError)=>{
            console.log("isdda")
            Swal.fire({
                icon: 'error',
                title: 'Stock Unavailable',
                text: 'Something went wrong!',
               
              })
        }
     })
    }else{
            let error = document.getElementById('Varient_error').innerHTML=' Please Select one Varient'
            return ;
    }
   
};


</script>
