<style>
    .category-button {
  padding: 12px 24px;
  background-color: #00234d;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #0062cc;
}
.brand-button {
  padding: 12px 24px;
  background-color: #00234d;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.brand-button:hover {
  background-color: #0062cc;
}

</style>


 {{!-- <!-- Poster Section Start -->


    <section>
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="slider-1 slider-animate product-wrapper no-arrow">
                        <div>
                            <div class="banner-contain-2 hover-effect">
                                <img src="../assets/images/shop/1.jpg" class="bg-img rounded-3 blur-up lazyload" alt="">
                                <div
                                    class="banner-detail p-center-right position-relative shop-banner ms-auto banner-small">
                                    <div>
                                        <h2>Healthy, nutritious & Tasty Fruits & Veggies</h2>
                                        <h3>Save upto 50%</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="banner-contain-2 hover-effect">
                                <img src="../assets/images/shop/1.jpg" class="bg-img rounded-3 blur-up lazyload" alt="">
                                <div
                                    class="banner-detail p-center-right position-relative shop-banner ms-auto banner-small">
                                <div>
                                        <h2>Healthy, nutritious & Tasty Fruits & Veggies</h2>
                                        <h3>Save upto 50%</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="banner-contain-2 hover-effect">
                                <img src="../assets/images/shop/1.jpg" class="bg-img rounded-3 blur-up lazyload" alt="">
                                <div
                                    class="banner-detail p-center-right position-relative shop-banner ms-auto banner-small">
                                    <div>
                                        <h2>Healthy, nutritious & Tasty Fruits & Veggies</h2>
                                        <h3>Save upto 50%</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Poster Section End --> --}}

     <!-- Shop Section Start -->
    <section class="section-b-space shop-section">
        <div class="container-fluid-lg">
            <div class="row">
                   
                
                <div class="col-custome-3">
                     
                    <div class="left-box wow fadeInUp">
                        <div class="shop-left-sidebar">
                            <div class="back-button">
                                <h3><i class="fa-solid fa-arrow-left"></i> Back</h3>
                            </div>

                            <div class="filter-category">
                                <div class="filter-title">
                                    <h2>Filters</h2>
                                    <a onclick="clearAll()">Clear All</a>
                                </div>
                                {{!-- <ul>
                                    <li>
                                        <a href="javascript:void(0)">Vegetable</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Fruit</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Fresh</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Milk</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Meat</a>
                                    </li>
                                </ul> --}}
                            </div>

                            <div class="accordion custome-accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <span>Categories</span>
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                        aria-labelledby="headingOne">
                                        <div class="accordion-body">
                                            {{!-- <div class="form-floating theme-form-floating-2 search-box">
                                                <input type="search" class="form-control" id="SearchProd"
                                                    placeholder="Search .."  onkeyup="return searchProd()">
                                                <label for="search">Search</label>
                                            </div> --}}

                                                    {{#if categories}}
                                            <ul class="category-list custom-padding custom-height">
                                                    {{#each categories}}
                                                <li>
                                                    
                                                        {{!-- <input type="text" name="name" id="" value="{{this.categoryName}}" hidden> --}}
                                        <button class="category-button" onclick="selectCategory('{{this.categoryName}}')" type="button">{{this.categoryName}}</button>

                                              
                                                    {{/each}}
                                                </li>
                                                {{!-- <li>
                                                    <div class="form-check ps-0 m-0 category-list-box">
                                                        <input class="checkbox_animated" type="checkbox" id="cake">
                                                        <label class="form-check-label" for="cake">
                                                            <span class="name">Bakery, Cake & Dairy</span>
                                                            <span class="number">(12)</span>
                                                        </label>
                                                    </div>
                                                </li> --}}
                                                {{!-- <li>
                                                    <div class="form-check ps-0 m-0 category-list-box">
                                                        <input class="checkbox_animated" type="checkbox" id="behe">
                                                        <label class="form-check-label" for="behe">
                                                            <span class="name">Beverages</span>
                                                            <span class="number">(20)</span>
                                                        </label>
                                                    </div>
                                                </li> --}}
                                                {{!-- <li>
                                                    <div class="form-check ps-0 m-0 category-list-box">
                                                        <input class="checkbox_animated" type="checkbox" id="snacks">
                                                        <label class="form-check-label" for="snacks">
                                                            <span class="name">Snacks & Branded Foods</span>
                                                            <span class="number">(05)</span>
                                                        </label>
                                                    </div>
                                                </li> --}}
                                            
                                            </ul>
                                            {{/if}}
                                        </div>
                                    </div>




                                    
                                    
                                  </div>




                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <span>Brands</span>
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                        aria-labelledby="headingOne">
                                        <div class="accordion-body">
                                     

                                                    {{#if brands}}
                                            <ul class="category-list custom-padding custom-height">
                                                    {{#each brands}}
                                                <li>
                                                    
                                                        {{!-- <input type="text" name="name" id="" value="{{this.categoryName}}" hidden> --}}
                    <button class="brand-button" onclick="selectbrand('{{this.brandName}}')" type="button">{{this.brandName}}</button>

                                              
                                                    {{/each}}
                                                </li>
                                                {{!-- <li>
                                                    <div class="form-check ps-0 m-0 category-list-box">
                                                        <input class="checkbox_animated" type="checkbox" id="cake">
                                                        <label class="form-check-label" for="cake">
                                                            <span class="name">Bakery, Cake & Dairy</span>
                                                            <span class="number">(12)</span>
                                                        </label>
                                                    </div>
                                                </li> --}}
                                                {{!-- <li>
                                                    <div class="form-check ps-0 m-0 category-list-box">
                                                        <input class="checkbox_animated" type="checkbox" id="behe">
                                                        <label class="form-check-label" for="behe">
                                                            <span class="name">Beverages</span>
                                                            <span class="number">(20)</span>
                                                        </label>
                                                    </div>
                                                </li> --}}
                                                {{!-- <li>
                                                    <div class="form-check ps-0 m-0 category-list-box">
                                                        <input class="checkbox_animated" type="checkbox" id="snacks">
                                                        <label class="form-check-label" for="snacks">
                                                            <span class="name">Snacks & Branded Foods</span>
                                                            <span class="number">(05)</span>
                                                        </label>
                                                    </div>
                                                </li> --}}
                                            
                                            </ul>
                                            {{/if}}
                                        </div>
                                    </div>




                                    
                                    
                                  </div>

                               
                            </div>
                        </div>
                    </div>
                </div> 

                <style>
                    .sugBar{
                        width: 1200px;
                    margin: auto;
                    margin-top: 3rem;
                    {{!-- background: rgb(255,110,0); --}}
                        {{!-- background: linear-gradient(90deg, rgba(255,110,0,1) 0%, rgba(255,176,0,1) 100%); --}}
                }
                </style>

                <div class="col-custome-9">
                    <div class="show-button">
                        <div class="filter-button-group mt-0">
                            <div class="filter-button d-inline-block d-lg-none">
                                <a><i class="fa-solid fa-filter"></i> Filter Menu</a>
                            </div>
                        </div>
                       
                        {{!-- <style>

                        </style> --}}


                         <div class="search-shop-page">
                        <div class="search-full">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i data-feather="search" class="font-light"></i>
                                        </span>

                                        <input type="text" id="search_input" class="form-control search-type" placeholder="Search here..">
                                        <span class="input-group-text close-search">
                                            <i onclick="closeSearch()" data-feather="x" class="font-light"></i>
                                        </span>

                                    </div>
                                </div>

                                 <div  id="searchData" class="sugBar">
                <div class="nothing " id="nothing" style="display: none;">
                    <h2 style="text-align: center;"> No results found</h2>
                    </div>
                    <div id="search_div">

                    </div>
                </div>
                        </div>

                        <div class="top-filter-menu">
                                
                            <div class="category-dropdown">
                                <h5 class="text-content">Sort By :</h5>
                                    <div class="dropdown-center">
                                
                                <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    sort
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" onclick="sort('1')" >Price : low To high</a></li>
                                    <li><a class="dropdown-item" onclick="sort('-1')"> Price : high To low</a></li>

                                </ul>
                                </div>
   
                            </div>

                           
                           



                            
                        </div>
                         

                    </div>

                    <div class="row g-sm-4 g-3 row-cols-xxl-4 row-cols-xl-3 row-cols-lg-2 row-cols-md-3 row-cols-2 product-list-section">
         
                             {{#each data.all}}
                             
                        <div>
                            <div class="product-box-3 h-100 wow fadeInUp">
                                <div class="product-header">
                                    <div class="product-image">
                                        <a href="/product/{{this._id}}">
                                            <img src="{{this.urlImage1}}"
                                                class="img-fluid blur-up lazyload" alt="">
                                        </a>

                                        <ul class="product-option">
                                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                                <a href="/product/{{this._id}}" >
                                                    <i data-feather="eye"></i>
                                                </a>
                                            </li>

                                            {{!-- <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                                <a href="compare.html">
                                                    <i data-feather="refresh-cw"></i>
                                                </a>
                                            </li> --}}

                                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                                <a href="/addToWishlist/{{this._id}}" class="notifi-wishlist">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-footer">
                                    <div class="product-detail">
                                        <span class="span-name">{{this.category}}</span>
                                        <a href="/product/{{this._id}}">
                                            <h5 class="name">{{this.ProductName}}</h5>
                                        </a>
                                        {{!-- <p class="text-content mt-1 mb-2 product-content">Cheesy feet cheesy grin brie.
                                            Mascarpone cheese and wine hard cheese the big cheese everyone loves smelly
                                            cheese macaroni cheese croque monsieur.</p> --}}
                                        {{!-- <div class="product-rating mt-2">
                                            <ul class="rating">
                                                <li>
                                                    <i data-feather="star" class="fill"></i>
                                                </li>
                                                <li>
                                                    <i data-feather="star" class="fill"></i>
                                                </li>
                                                <li>
                                                    <i data-feather="star" class="fill"></i>
                                                </li>
                                                <li>
                                                    <i data-feather="star" class="fill"></i>
                                                </li>
                                                <li>
                                                    <i data-feather="star"></i>
                                                </li>
                                            </ul>
                                            <span>(4.0)</span>
                                        </div> --}}
                                        {{!-- <h6 class="unit">250 ml</h6> --}}
                                        <h5 class="price"><span class="theme-color">₹{{this.Price}}</span> 
                                        </h5>
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                            {{/each}}

                    </div>

                    <nav class="custome-pagination">
                        <ul class="pagination justify-content-center">
                       
                            {{#each page}}
                            <li class="page-item active">
                                <a class="page-link" onclick="page('{{this}}')">{{this}}</a>
                            </li>
                            {{/each}}
                           
                    
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
<script>
  function  selectCategory(category){
    alert(category)
        let url = new URL(window.location.href)

        if(url.searchParams && url.searchParams.has('category')){

            url.searchParams.set('category',category)

               location.href = url
        }else {
            url.searchParams.set('category',category)
            location.href = url
        }
    }


    function clearAll(){
        let url = new URL(window.location.href)
        if (url.searchParams && url.searchParams.toString()) {
            url.search = '';
            {{!-- const newUrl = url.href; --}}
            location.href = url;
        }
    }



</script>

<script>
    function sort(val){

         let url = new URL(window.location.href)

         if(url.searchParams && url.searchParams.has('sort')){

            url.searchParams.set('sort',val)

               location.href = url
        }else {
            url.searchParams.set('sort',val)
            location.href = url
        }
    }



    function page(val){
        let url = new URL(window.location.href)

         if(url.searchParams && url.searchParams.has('p')){

            url.searchParams.set('p',val)

               location.href = url
        }else {
            url.searchParams.set('p',val)
            location.href = url
        }
    }







    function selectbrand(brand){
        let url = new URL(window.location.href)

         if(url.searchParams && url.searchParams.has('brand')){

            url.searchParams.set('brand',brand)

               location.href = url
        }else {
            url.searchParams.set('brand',brand)
            location.href = url
        }
    }

</script>

<script>
    function closeSearch(){
        document.getElementById('searchData').style.display = "none"
        document.getElementById('search_input').value = ''
    }
    $(function () {
        var $overlay = $('.overlay'),
            $overlayTrigger = $('.overlay-trigger button'),
            $overlayClose = $('.overlay-close'),
            openClass = 'is-open';
        $overlayTrigger.on('click', function () {
            var num = ('0' + ($(this).index() + 1)).slice(-2);
            $('.overlay' + num).addClass(openClass);
            $overlayClose.addClass(openClass);
        });
        $overlayClose.on('click', function () {
            $overlayClose.removeClass(openClass);
            $overlay.removeClass(openClass);
        });
    });
</script>




<script>


  function debounce(fn, delay) {
    let timeOutId;
    return function (...args) {
      if (timeOutId) {
        clearTimeout(timeOutId)
      }
      timeOutId = setTimeout(() => {
        fn(...args);
      }, delay)
    }
  }
  const searchData = document.getElementById('search_input')
  searchData.addEventListener('keyup', debounce(async () => {
    const div=document.getElementById('search_div')
    const e = document.getElementById('search_input').value
    if (!e) {
      div.innerHTML = '';
      document.getElementById('startfirst').classList.remove('d-none');
    } else {
        let res
        $.ajax({
            url: '/search',
             method: 'POST',
              data: { e },
              success:(result)=>{
                 res = result 
                console.log(res)
                div.innerHTML = '';
                if (res.length < 1) {
                    document.getElementById('nothing').style.display="flex";
                    return;
                } else {
                     document.getElementById('nothing').style.display="none";
                    console.log(res)
                    res.forEach((item) => {

                    div.innerHTML += `<div class="row align-items-center position-relative">
                    <div>
                        <a href="/view-product/${item._id}">
                        <img class="img-fluid searchImage" src=${item.urlImage1} width=50 alt="..." style=>
                        </a>
                    </div>
                    <div class="col position-static">
                        <p class="mb-0 fw-bold">
                        <a class="stretched-link text-body" href="/product/${item._id}">${item.ProductName}</a> <br>
                        <span class="text" style="color:#00234d;">₹${item.Price}</span>
                        </p>
                            </div>
                        </div>`

                    });
                    return;
                }  
              }
        })


    }
  }, 500))




</script>