

<!-- Wishlist Section Start -->
    <section class="wishlist-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-3 g-2">
                {{#if data}}
                        {{#each data}}
                <div class="col-xxl-2 col-lg-3 col-md-4 col-6 product-box-contain">
                    <div class="product-box-3 h-100">
                        <div class="product-header">
                            <div class="product-image">
                                <a href="/user/product/{{this.Product._id}}">
                                    <img src="{{this.Product.urlImage1}}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>

                                <div class="product-header-top">
                                <a class="wishlist-button close_button" href="/user/addToWishlist/{{this.Product._id}}"><button class="btn wishlist-button close_button">
                                        <i data-feather="x"></i>
                                    </button></a>    
                                </div>
                            </div>
                        </div>
                        <div class="product-footer">
                            <div class="product-detail">
                                <span class="span-name">{{this.Product.category}}</span>
                                <a href="/user/product/{{this.Product._id}}">
                                    <h5 class="name">{{this.Product.ProductName}}</h5>
                                </a>
                                <h6 class="unit mt-1">250 ml</h6>
                                <h5 class="price">
                                    <span class="theme-color">{{this.Product.Price}}</span>
                                    <del>$15.15</del>
                                </h5>

                                {{!-- <div class="add-to-cart-box bg-white mt-2">
                                    <button class="btn btn-add-cart addcart-button">Add
                                        <span class="add-icon bg-light-gray">
                                            <i class="fa-solid fa-plus"></i>
                                        </span>
                                    </button>
                                    <div class="cart_qty qty-box">
                                        <div class="input-group bg-white">
                                            <button type="button" class="qty-left-minus bg-gray" data-type="minus"
                                                data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                name="quantity" value="0">
                                            <button type="button" class="qty-right-plus bg-gray" data-type="plus"
                                                data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div> --}}
                            </div>
                        </div>
                    </div>
                </div>
                        {{/each}} 
                        {{else}}
                        <img style="margin-bottom: 50%; " height="700"  src="http://localhost:8001/user/images/47335-wishlist-animation.gif" alt="">
                        {{/if}}

            </div>
        </div>
    </section>
    <!-- Wishlist Section End -->
