{{!-- <style>
  #table-responsive {
  overflow-x: hidden;
  overflow-y: hidden;
}
</style> --}}

<section class="page-align mt-5" id="footer">
  <div class="container" class="mydata">
    <div class="row">
      <div class="col-lg-12">
        <div id="table-responsive" class="table-responsive">
          <table id="mydata" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Created At</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {{#each users}}
              <tr>
                <td>{{this.username}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                  {{#if this.isBlocked}}
                  Blocked
                  {{else}}
                  Active
                  {{/if}}
                </td>
                <td>
                  <a href="">
                    <form action="/admin/blockManager" method="post">
                      <input type="text" name="isBlocked" value="{{this.isBlocked}}" hidden>
                      <input type="text" name="id" value="{{this._id}}" hidden>
                      <button type="submit" class="btn btn-secondary">
                        {{#if this.isBlocked}}
                        Unblock
                        {{else}}
                        Block
                        {{/if}}
                      </button>
                    </form>
                  </a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
