<section class="page-align mt-5 " id="footer">
    <div class="container" id="mydata">
 

        <form action="/admin/banner1-submit" method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-md-4">
                    <img src="{{banner1.bannerUrl1}}"  width="150" alt="left"> <button type="button" style="float: right; width: 60px;"
                        class="btn btn-danger " id="delBtn4" ><i
                            class="bi bi-trash"></i></button>
                    {{!-- <p>Banner1</p> --}}
                </div>
                <label for="inputEmail3" class="col-sm-2 col-form-label">Banner 1</label>
                {{#if isbanner1}}
                {{else}}
                <div class="col-sm-4">
                    <input type="file" class="form-control" name="banner1" id="inputText" hidden>
                </div>
                 <div class="col-sm-4 " hidden>
            <select class="form-select" name="linkTo" aria-label="Default select example" >
             {{#if products}}
              <option value="{{this._id}}">{{this.productName}}</option>
              {{else}}
              <option selected>select link </option>
              {{/if}}
              <option value="shop">Shop</option>
              {{#each products}}
              <option value="{{this._id}}">{{this.ProductName}}</option>
              {{/each}}
            </select>
          </div>
          {{/if}}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
                    
        </form>
            <hr>

             <form action="/admin/banner2-submit" method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-md-4">
                    <img src="{{banner2.bannerUrl2}}" width="150" alt="left"> <button type="button" style="float: right; width: 60px;"
                        class="btn btn-danger " id="delBtn4" onclick="return deleteImage()"><i
                            class="bi bi-trash"></i></button>
                    <p>Banner2</p>
                </div>
                <label for="inputEmail3" class="col-sm-2 col-form-label">Banner 2</label>
                {{#if isbanner2}}
                <div class="col-sm-4">
                    <input type="file" class="form-control" name="banner2" id="inputText">
                </div>
                 <div class="col-sm-4">
            <select class="form-select" name="linkTo" aria-label="Default select example">
             {{#if products}}
              <option value="{{this._id}}">{{this.productName}}</option>
              {{else}}
              <option selected>select link </option>
              {{/if}}
              <option value="shop">Shop</option>
              {{#each products}}
              <option value="{{this._id}}">{{this.ProductName}}</option>
              {{/each}}
            </select>
          </div>
          {{/if}}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
                    
        </form>
            <hr>
             <form action="/admin/banner3-submit" method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-md-4">
                    <img src="{{banner3.bannerUrl3}}"  width="150" alt="left"> <button type="button" style="float: right; width: 60px;"
                        class="btn btn-danger " id="delBtn4" onclick="return deleteImage()"><i
                            class="bi bi-trash"></i></button>
                    <p>Banner3</p>
                </div>
                <label for="inputEmail3" class="col-sm-2 col-form-label">Banner 3</label>
                {{#if isbanner3}}
                <div class="col-sm-4">
                    <input type="file" class="form-control" name="banner3" id="inputText">
                </div>
                 <div class="col-sm-4">
            <select class="form-select" name="linkTo" aria-label="Default select example">
             {{#if products}}
              <option value="{{this._id}}">{{this.productName}}</option>
              {{else}}
              <option selected>select link </option>
              {{/if}}
              <option value="shop">Shop</option>
              {{#each products}}
              <option value="{{this._id}}">{{this.ProductName}}</option>
              {{/each}}
            </select>
          </div>
          {{/if}}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
                    
        </form>
            </div>
   


    </div>
    {{!-- </div> --}}
    {{!-- </div> --}}

</section>



{{!-- <div class="card">
    <div class="card-header">Banners</div>
    <div class="card-body">
        <div class="column">
            <div class="col-md-4">
                <img src="" alt="left"> <button type="button" style="float: right; width: 60px;" class="btn btn-danger "
                    id="delBtn4" onclick="return deleteImage()"><i class="bi bi-trash"></i></button>
                <p>Banner1</p>
            </div>
            <div class="col-md-4">
                <img src="../banners/{{response.middle}}.jpg" alt="left">
                <p>Middle banner</p>
            </div>
            <div class="col-md-4">
                <img src="../banners/{{response.right}}.jpg" alt="left">
                <p>Right side banner</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a href="/admin/edit-banner">
            <button class="btn btn-secondary">Edit</button>
        </a>
    </div>
</div> --}}