<style>
    #mydata{
        margin-top: 15%;
    }
</style>


<section class="page-align mt-5 " id="footer">
    <div class="container-fluid" id="mydata">

        <div class="row">
                

                <form id="banner1-submit"  method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-md-4">
                    <img src="{{banner1.bannerUrl1}}" width="150" alt="left"> <button type="button"
                        style="float: right; width: 60px;" class="btn btn-danger " onclick="return delBanner('banner1')" id="delBtn4"><i
                            class="bi bi-trash"></i></button>
                    {{!-- <p>Banner1</p> --}}
                </div>
                <label for="inputEmail3" class="col-sm-2 col-form-label">Banner 1</label>
                {{#if banner1.isbanner1}}

                {{else}}
                <div class="col-sm-4">
                    <input type="file" class="form-control" name="banner1" id="inputText" >
                </div>
                <div class="col-sm-4 " >
                    <p id="banner1error"></p>
                    <select class="form-select" name="linkTo" aria-label="Default select example">
                        {{#if products}}
                        <option value="{{this._id}}">{{this.productName}}</option>
                        {{else}}
                        <option selected>select link </option>
                        {{/if}}
                        <option value="shop">Shop</option>
                        {{#each products}}
                        <option value="{{this._id}}">{{this.ProductName}}</option>
                        {{/each}}
                    </select>
                </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
            </div>
            {{/if}}
        
        </form>
            <hr>

             <form id="banner2-submit"  method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-md-4">
                    <img src="{{banner2.bannerUrl2}}" width="150" alt="left"> <button type="button" style="float: right; width: 60px;"
                        class="btn btn-danger " id="delBtn4" onclick="return delBanner('banner2')"><i
                            class="bi bi-trash"></i></button>
                    <p>Banner2</p>
                </div>
                <label for="inputEmail3" class="col-sm-2 col-form-label">Banner 2</label>
                 {{#if banner2.isbanner2}}
                {{else}}
                <div class="col-sm-4">
                    <input type="file" class="form-control" name="banner2" id="inputText">
                </div>
                 <div class="col-sm-4">
                     <p id="banner2error" ></p>
            <select class="form-select" name="linkTo" aria-label="Default select example">
             {{#if products}}
              <option value="{{this._id}}">{{this.productName}}</option>
              {{else}}
              <option selected>select link </option>
              {{/if}}
              <option value="shop">Shop</option>
              {{#each products}}
              <option value="{{this._id}}">{{this.ProductName}}</option>
              {{/each}}
            </select>
          </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
          {{/if}}
                    
        </form>
            <hr>
             <form id="banner3-submit"  method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-md-4">
                    <img src="{{banner3.bannerUrl3}}"  width="150" alt="left"> <button type="button" style="float: right; width: 60px;"
                        class="btn btn-danger " id="delBtn4" onclick="return delBanner('banner3')"><i
                            class="bi bi-trash"></i></button>
                    <p>Banner3</p>
                </div>
                <label for="inputEmail3" class="col-sm-2 col-form-label">Banner 3</label>
                {{#if banner3.isbanner3}}
    
                {{else}}
                <div class="col-sm-4">
                    <input type="file" class="form-control" name="banner3" id="inputText">
                </div>
                 <div class="col-sm-4">
                     <p id="banner3error" ></p>
            <select class="form-select" name="linkTo" aria-label="Default select example">
             {{#if products}}
              <option value="{{this._id}}">{{this.productName}}</option>
              {{else}}
              <option selected>select link </option>
              {{/if}}
              <option value="shop">Shop</option>
              {{#each products}}
              <option value="{{this._id}}">{{this.ProductName}}</option>
              {{/each}}
            </select>
          </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
          {{/if}}
                    
        </form>
            </div>
        </div>

        
   


    </div>
    {{!-- </div> --}}
    {{!-- </div> --}}

</section>
<script>
    $("#banner1-submit").submit((e)=>{
    e.preventDefault()
    $.ajax({
        url:"/admin/banner1-submit",
         data:$('#banner1-submit').serialize(),
           method:'post',
           success:(response)=>{

            if(response.status==true){
                location.href='/admin/banners'
            }else if(response.status=="false"){
                document.getElementById("banner1error").innerHTML = `${response.errorMessage}`
            }
           
    }
    })
})



 $("#banner2-submit").submit((e)=>{
    e.preventDefault()
    $.ajax({
        url:"/admin/banner2-submit",
         data:$('#banner2-submit').serialize(),
           method:'post',
           success:(response)=>{

            if(response.status==true){
                location.href='/admin/banners'
            }else if(response.status=="false"){
                document.getElementById("banner2error").innerHTML = `${response.errorMessage}`

            }
           
    }
    })
})

 $("#banner3-submit").submit((e)=>{
    e.preventDefault()
    $.ajax({
        url:"/admin/banner3-submit",
         data:$('#banner3-submit').serialize(),
           method:'post',
           success:(response)=>{
            if(response.status==true){
                location.href='/admin/banners'
            }else if(response.status==false){

                document.getElementById("banner3error").innerHTML = `${response.errorMessage.errorMessage}`

            }
           
    }
    })
})

    </script>



</script>

<script>
    function delBanner(bannername){
        let banner= bannername
  Swal.fire({
      title: 'Are you sure you want to delete  this ?',
      // text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
  }).then((result)=>{
      if(result.isConfirmed){
         $.ajax({
             url:"/admin/delBanner",
             data:{
                banner
             },
             method:"delete",
             success:(response)=>{
                if(response.status){
                        Swal.fire({
                      icon: 'success',
                      title: 'Order Cancelled',
                      showConfirmButton: false,
                      timer: 1000
                    })
                    setTimeout(()=>{
                       location.reload()
                  },1000)
                }
                
             }
        })
         
      }
    })
       
    }
</script>