<section class="page-align" id="footer">
    <div class="container-fluid " id="mydata">
        <div class="row">
            <a href="/admin/addCoupen"><button class="btn btn-success">Add Coupon</button></a>
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Offer Type</label>
                <div class="col-sm-10">
                    <select class="form-select" name="type" id="select" onchange="return couponView()"
                        aria-label="Default select example">
                        <option value="normal" selected>Normal</option>
                        <option value="product">Product</option>
                        <option value="category">Category</option>
                    </select>
                </div>
            </div>

            <div id="normal">
                {{#if coupens.normalCoupens}}
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Name</th>
                            <th scope="col">redeemType</th>

                            <th scope="col">amount/percentage</th>



                            <th scope="col">Starts</th>
                            <th scope="col">Expires</th>
                            <th scope="col">Min Limit Amount</th>
                            <th scope="col">Max Limit Amount</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each coupens.normalCoupens}}
                        <tr>
                            <td>{{this.code}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.redeemType}}</td>
                            {{#if this.isAmount}}
                            <td>{{this.amount}}</td>
                            {{else}}
                            <td>{{this.percentage}}</td>
                            {{/if}}
                            <td>{{this.startDate}}</td>
                            <td>{{this.endDate}}</td>
                            <td>₹{{this.minLimit}}</td>
                            <td>₹{{this.maxLimit}}</td>
                            <td>
                                <a href="/admin/editcoupon/{{this._id}}" class="btn btn-secondary">Edit</a>
                                <p  onclick="return couponDelete('{{this._id}}')" class="btn tbn-danger">Delete</p>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <p class="coup">No Coupons</p>
                {{/if}}
            </div>
            <div id="category">
                {{#if coupens.categoryCoupens}}
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th scope="col">Category</th>
                            <th scope="col">Percentage/Amount</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each coupens.categoryCoupens}}
                        <tr>
                            <td>{{this.category}}</td>
                            {{#if isAmount}}
                            <td>{{this.amount}}</td>
                            {{else}}
                            <td>{{this.percentage}}%</td>
                            {{/if}}
                            <td>
                                <a href="/admin/editcoupon/{{this._id}}" class="badge badge-secondary">Edit</a>
                                <p onclick="return couponDelete('{{this._id}}')" class="badge badge-danger">Delete</p>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <p class="coup">No Category Coupons</p>
                {{/if}}
            </div>
            <div id="product">
                {{#if coupens.productCoupens}}
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Product</th>
                            <th scope="col">CoupenName</th>
                            <th scope="col">code</th>
                            <th scope="col">Percentage</th>
                            <th scope="col">TotalCoupen</th>
                            <th scope="col">Maximum limit</th>
                            <th scope="col">StartDate</th>
                            <th scope="col">Expires</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each coupens.productCoupens}}
                        <tr>
                            <td><img style="width: 50px;" src="{{this.urlImage1}}" alt="no"></td>
                            <td>{{this.prodName}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.code}}</td>
                            <td>{{this.percentage}}%</td>
                            <td>{{this.totalCoupen}}</td>
                            <td>{{this.maxLimit}}</td>
                            <td>{{this.startDate}}</td>
                            <td>{{this.endDate}}</td>
                            <td>
                                <a href="/admin/editcoupon/{{this._id}}" class="badge badge-secondary">Edit</a>
                                <p onclick="return couponDelete('{{this._id}}')" class="badge badge-danger">Delete</p>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <p class="coup">No Product Coupons</p>
                {{/if}}
            </div>
        </div>
    </div>

</section>
<script>
    document.getElementById('category').style.display = 'none'
    document.getElementById('normal').style.display = 'flex'
    document.getElementById('product').style.display = 'none'
    function couponView() {
        const selection = document.getElementById('select').value
        if (selection == 'normal') {
            document.getElementById('category').style.display = 'none'
            document.getElementById('normal').style.display = 'flex'
            document.getElementById('product').style.display = 'none'
        } else if (selection == 'category') {
            document.getElementById('category').style.display = 'flex'
            document.getElementById('normal').style.display = 'none'
            document.getElementById('product').style.display = 'none'
        } else if (selection == 'product') {
            document.getElementById('category').style.display = 'none'
            document.getElementById('normal').style.display = 'none'
            document.getElementById('product').style.display = 'flex'
        }
    }
</script>