<section class="page-align" id="footer">
    <div class="container-fluid " id="mydata">
        <div class="row">
            <a href="/admin/addCoupen"><button class="btn btn-success">Add Coupon</button></a>
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Offer Type</label>
            </div>

            <div id="normal">
                {{#if coupens.normalCoupens}}
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Name</th>
                            <th scope="col">redeemType</th>

                            <th scope="col">amount/percentage</th>



                            <th scope="col">Starts</th>
                            <th scope="col">Expires</th>
                              <th scope="col">TotalCoupen</th>
                            <th scope="col">Min Limit Amount</th>
                            <th scope="col">Max Limit Amount</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each coupens.normalCoupens}}
                        <tr>
                            <td>{{this.code}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.redeemType}}</td>
                            {{#if this.isAmount}}
                            <td>{{this.amount}}</td>
                            {{else}}
                            <td>{{this.percentage}}</td>
                            {{/if}}
                            <td>{{this.startDate}}</td>
                            <td>{{this.endDate}}</td>
                            <td>{{this.totalCoupen}}</td>
                            <td>₹{{this.minLimit}}</td>
                            <td>₹{{this.maxLimit}}</td>
                            <td>
                                {{!-- <a href="/admin/editcoupon/{{this._id}}" class="btn btn-secondary">Edit</a> --}}
                                <p  onclick="return couponDelete('{{this._id}}')" class="btn btn-danger">Delete</p>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <p class="coup">No Coupons</p>
                {{/if}}
            </div>
        </div>
    </div>

</section>