<section class="page-align mt-5" id="footer">
    <div class="container" class="mydata">
        <div class="row">
<h1 >Orders</h1>
    {{!-- {{message}} --}}
    <h1>{{e}}</h1>
   <table class="table table-striped table-hover table-bordered mt-5">
  <thead class="table-dark">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Date</th>
      <th scope="col">Total Price</th>
      <th scope="col">Method</th>
      <th scope="col">Status</th>
      <th scope="col">Delivery Status</th>
      <th>View</th>
      <th>Return</th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      <td>{{this.user.username}}</td>
      <td>{{this.date}}</td>
      <td>₹{{this.totalAmount}}</td>
      <td>{{this.paymentMethod}}</td>
      <td>
        {{#if this.btnStatus}}
          <span class="badge bg-success text-white py-2 px-3">{{this.status}}</span>
          <button type="button" class="btn btn-danger btn-sm  shadow-sm ms-2 fw-bold" onclick="cancelOrder('{{this._id}}')">Cancel Order</button>
        {{else}}
          <p class="badge bg-secondary">{{this.status}}</p>
        {{/if}}
      </td>
      <td>
        {{#if this.btnStatus}}
        {{#if this.deliveryScheduled}}
          <p class="badge bg-info text-dark">{{this.deliveryStatus}}</p>
          <a href="/admin/confirmDelivery/{{this._id}}"><button type="button" class="btn btn-secondary btn-sm mt-2">Confirm Delivery</button></a> 
          <a href="/admin/invoice?id={{this._id}}"><button type="button" class="btn btn-success btn-sm mt-2">Download Invoice</button></a> 
          <a href="/admin/billLabel?id={{this._id}}"><button type="button" class="btn btn-success btn-sm mt-2">Download Billing Label</button></a> 
        {{else}}
          <p class="badge bg-secondary">{{this.deliveryStatus}}</p>
          {{#if this.deliveredDate}}
            <p class="badge bg-success">{{this.deliveredDate}}</p>
            <a href="/admin/invoice?id={{this._id}}"><button type="button" class="btn btn-success btn-sm mt-2">Download Invoice</button></a> 
            <a href="/admin/billLabel?id={{this._id}}"><button type="button" class="btn btn-success btn-sm mt-2">Download Billing Label</button></a> 
          {{else}}
            <a href="/admin/scheduleOrder/{{this._id}}"><button type="button" class="btn btn-secondary btn-sm mt-2">Schedule Order</button></a> 
          {{/if}}
        {{/if}}
        {{else}}
         <p class="badge bg-secondary">{{this.status}}</p>
        {{/if}}
      </td>
      <td>
        <a href="/admin/view-order-product/{{this._id}}"><button type="button" class="btn btn-secondary btn-sm">View Products</button></a>
        {{#if this.returnplaced }}
          <a href="/admin/returnConfirm/{{this._id}}"><button type="button" class="btn btn-secondary btn-sm mt-2">Confirm Return</button></a>
        {{else}}
          <p></p>
        {{/if}}
        {{#if this.returnConfirmed}}
          <h5>Order Returned</h5>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>



        </div>
    </div>


   
    


</section>




{{!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>


<script>

  $(document).ready( function () {
    $('#orders').DataTable();
} );
</script> --}}










