<section class="page-align mt-5" id="footer">
    <div class="container">
        <div class="row">
<h1 >Orders</h1>
    {{!-- {{message}} --}}
    <h1>{{e}}</h1>
    <table class="table table-bordered border-primary mt-5" id="orders">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Date</th>
                <th scope="col">Total Price</th>
                <th scope="col">Method</th>
                <th scope="col">Status</th>
                <th scope="col">DeliveryStatus</th>
                <th>View</th>
                <th>Return</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>
                <td>{{this.user.username}}</td>
                <td>{{this.date}}</td>
                <td>₹{{this.totalAmount}}</td>
                <td>{{this.paymentMethod}}</td>
                <td>

                    {{#if this.btnStatus}}
                    <p class="badge bg-success">{{this.status}}</p> <br>
                        {{!-- <a href="/admin/cancelOrder/{{this._id}}"> <p class="cancel badge badge-danger" >Cancel Order</p></a> --}}
                         <p onclick="cancelOrder('{{this._id}}')" class="cancel badge bg-danger" >Cancel Order</p>
                        
                        {{else}}
                    <p class="badge bg-secondary">{{this.status}}</p> <br>
                    {{/if}}
                </td>
                <td>
                    {{#if this.deliveryScheduled}}
                     <p class="badge bg-info text-dark">Delivery Scheduled on {{this.deliveryStatus}}</p> <br>
                   <a href=" /admin/confirmDelivery/{{this._id}}"><button type="button"  class="btn btn-secondary bg-dark">confirm Delivery?</button> </a> 
                   <a href=" /admin/invoice/{{this._id}}" ><button type="button"  class="btn btn-success ">download invoice</button> </a> 
                   {{!-- <a href=" /admin/confirmDelivery/{{this._id}}"><button type="button"  class="btn btn-secondary bg-dark">confirm Delivery?</button> </a>  --}}
                   <a href=" /admin/billLabel/{{this._id}}" ><button type="button"  class="btn btn-success  mt-4">download Billing label</button> </a> 

                    {{else}}
                     <p class="badge bg-secondary">{{this.deliveryStatus}}</p> <br>
                     {{#if this.deliveredDate}}
                     <p class="badge bg-success">Delivered  on {{this.deliveredDate}}</p> <br>
                   <a href=" /admin/invoice/{{this._id}}" ><button type="button"  class="btn btn-success ">download invoice</button> </a> 
                   <a href=" /admin/billLabel/{{this._id}}" ><button type="button"  class="btn btn-success mt-4">download Billing label</button> </a> 

                     {{else}}
                   <a href=" /admin/scheduleOrder/{{this._id}}"><button type="button"  class="btn btn-secondary">schedule Order</button> </a> 
                     {{/if}}
                   {{/if}}
                </td>

                    {{!-- {{else}}
                    <p class="badge badge-secondary">{{this.status}}</p> <br>
                    {{/if}} --}}
                
                
                <td><a href="/admin/view-order-product/{{this._id}}"><button type="button" class="btn btn-secondary">ViewProducts</button></a></td>
                {{#if this.returnplaced }}
                 <td><a href="/admin/returnConfirm/{{this._id}}"><button type="button" class="btn btn-secondary">Confirm Return?</button></a>
                 {{else}}
                 <td></td>
                 {{/if}}
                 {{#if this.returnConfirmed}}
                 <h5>Order returned</h5>
                 {{/if}}
                 
                 </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
        </div>
    </div>


   
    


</section>




<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>


<script>

  $(document).ready( function () {
    $('#orders').DataTable();
} );
</script>










