<section class="page-align" id="footer">
    <div class="container-fluid " id="mydata">
        <div class="row">

          <h2 class="mb-5 mt-0">Schedule Order</h2>

                <div class="row mb-3 d-flex align-items-center">
            <input type="text" name="orderId" id="" value="{{products._id}}" hidden>
            <label for="inputDate" class="col-sm-2 col-form-label">Schedule Delivery Date</label>
            <div class="col-sm-4">
                <input type="date" name="deliveryDate" id="deliverydate" class="form-control">
                <span id="DateError" style="color: red;"></span>
            </div>
            <button type="button" style="width: 100px;"  onclick="scheduleorder('{{products._id}}')" class="btn btn-success">Confirm</button>
        </div>
               

                <div class="row">
             <h1>View Products</h1>
    <table class="table table-striped table-hover table-bordered mt-5">
        <thead>
            <tr>
                {{!-- <th>Image</th> --}}
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Address</th>
                <th scope="col">Shipping Status</th>

            </tr>
        </thead>
        <tbody>
            {{#each products.cart}}
            <tr>
            {{!-- <td scope="row"><img style="width: 50px;" src="../images/product-images/{{this.cart_product.Image1}}" alt="no"></td>            --}}
                 <td>{{this.cart_product.ProductName}}</td>
           
                <td>{{this.quantity}}</td>
                <td>₹{{this.cart_product.Price}}</td>
                        {{/each}}


                        <td>
                    {{products.deleviryDetails.fullName}} <br>
                    {{products.deleviryDetails.mobile}} <br>
                    {{products.deleviryDetails.houseNo}} <br>
                    {{products.deleviryDetails.useradd}} <br>
                    {{products.deleviryDetails.pin}} <br>
                    {{products.deleviryDetails.landmark}} <br>
                    {{products.deleviryDetails.town}} <br>

                    {{!-- {{Orders.address}} --}}

                    </td>
                    <td>
                    <h6 class="badge bg-info">{{products.deliveryStatus}}</h6><br>

                        {{!-- <select class="shipping" name="status"  >
                            <option value="Preparing">Order Confirmed</option>
                            <option value="Shipped">Shipped</option>
                            <option value="Delivered">Delivered</option>
                        </select> --}}
                    <p class="badge bg-secondary">{{products.status}}</p> <br>
                    </td>

                
            </tr>
        </tbody>
    </table>

        </div>

        </div>
    </div>
</section>