<section class="page-align mt-5 " id="footer">
    <div class="container">
        <div class="row">
  {{!-- <div class="col-sm-10 mt-5">
                     <a href="/admin/add-product"><button type="submit" class="btn btn-primary"> Add Product </button></a>   
                  </div>
            <div class="col-sm-10 mt-3 mb-5">
                 <a href="/admin/categories"><button type="submit" class="btn btn-primary"> Categories </button></a>   
                  </div> --}}


             <!-- Table with stripped rows -->
              <table class="table table-striped mt-3">
                <thead>
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Company</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    
                    <th scope="col">Mf Date</th>
                    <th>Stock</th>
                    <th></th>
                    <th>Availability</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {{#each Details}}
                  <tr>
                    <th scope="row"><img style="width: 50px;" src="{{this.urlImage1}}" alt="no"></th>
                    <td>{{this.ProductName}}</td>
                    <td>{{this.Company}}</td>
                    <td>{{this.Price}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.ManufacturingDate}}</td>

                    <td>
                     {{this.Stock}}
                    </td>
                    <td>

                      <a href=""><form action="/admin/addVariations" method="post">
                            <input type="text" name="id" value="{{this._id}}" hidden >
                            <button type="submit" class="btn btn-primary">Add Variations
                            </button>
                            </form></a> 


                    </td>
                    <td>
                      {{#if this.Availability}}
                      <a href="">
                       <form action="/admin/prodAvailability/{{this._id}}" method="post">
                            <input type="text" name="Availability" value="{{this.Availability}}" hidden >
                            <button type="submit" class="btn btn-danger">Unlist
                            </button>
                            </form>
                      </a>
                      
                      {{else}}
                     <form action="/admin/prodAvailability/{{this._id}}" method="post">
                            <input type="text" name="Availability" value="{{this.Availability}}" hidden >
                            <button type="submit" class="btn btn-danger">List
                            </button>
                            </form>
                            {{/if}}
                    </td>

                    {{!-- <td>{{this.Description}}</td> --}}
                    <td>
                        <a href=""><form action="/admin/edit-Product" method="post">
                            <input type="text" name="id" value="{{this._id}}" hidden >
                            <button type="submit" class="btn btn-primary">Edit
                            </button>
                            </form></a> 
                            </td>
                           
                  </tr>
                    {{/each}}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
        </div>
    </div>
</section>
          