<section class="page-align" id="footer">
    <div class="container-fluid " class="mydata">
        <div class="row">
          <h2 class="mb-5 mt-0">Add New Product</h2>

             <!-- General Form Elements -->
              <form action="/admin/addVarient-submit" method="post"  >
                <div class="row mb-3">
                    <input type="text" name="prodId" id="prodId" value="{{product._id}}" hidden>
                  <label for="inputText" class="col-sm-2 col-form-label">Product Name</label>
                  <div class="col-sm-4">
                    <input type="text" name="ProductName" value="{{product.ProductName}}" class="form-control" readonly>

                

                  </div>
                </div>



                <div class="row mb-3">
                  <label for="inputNumber"  class="col-sm-2 col-form-label">Size</label>
                  <div class="col-sm-4">
                    <input type="text" name="Size" id="Size"  class="form-control">
                  </div>
                </div>


                <div class="row mb-3">
                  <label for="inputNumber"  class="col-sm-2 col-form-label">Color</label>
                  <div class="col-sm-4">
                    <input type="text" name="Color" id="Color"  class="form-control">
                  </div>
                </div>

                
                <div class="row mb-3">
                  <label for="inputNumber"  class="col-sm-2 col-form-label">Selling Price</label>
                  <div class="col-sm-4">
                    <input type="number" id="Price" name="Price" class="form-control">
                  </div>
                </div>


                <div class="row mb-3">
                  <label for="inputNumber"  class="col-sm-2 col-form-label">Stock</label>
                  <div class="col-sm-4">
                    <input type="number" name="Stock" id="Stock" class="form-control">
                  </div>
                 </div>


                 {{!-- <div class="row mb-3">
                  {{!-- <label for="inputNumber"  class="col-sm-2 col-form-label">Colors Added :</label> --}}
                  <div class="col-sm-4">

                  </div>
                </div> --}}

                <div class="row mb-3">
                  {{!-- <label class="col-sm-2 col-form-label">Submit Button</label> --}}
                  <div class="col-sm-4 col-form-label">
                    <button type="button" onclick="AddVarient()" class="btn btn-primary">Add Varient</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->


               <table class="table table-striped mt-3">
                <thead>
                  <tr>
                    <th scope="col">Variation</th>
                    <th scope="col">Size</th>
                    <th scope="col">Color</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                  </tr>
                </thead>
                <tbody>
                <td> Parent Product </td>
                  <td>{{product.Size}}</td>
                <td>{{product.Color}}</td>
                <td>{{product.Price}}</td>
                <td>{{product.Stock}}</td>
                </tbody>
               </table>


               <table class="table table-striped mt-3">
                <thead>
                  <tr>
                    <th scope="col">Variation</th>
                    <th scope="col">Size</th>
                    <th scope="col">Color</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Action</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                            {{#each Variations}}
                <tbody>


                <td>{{this.Variations.Data.id}}</td>
                <td>{{this.Variations.Data.Size}}</td>
                <td>{{this.Variations.Data.color}}</td>
                <td>{{this.Variations.Data.Price}}</td>
                <td>{{this.Variations.Data.Stock}}</td>
                <td>  <a href="/admin/variationEdit?prodId={{this._id}}&dataId={{this.Variations.Data.id}}&varId={{this.Variations.id}}"> <button class="btn btn-secondary">Edit</button> </td> </a> 
                <td>  <button   onclick="variationDelete('{{this.Variations.Data.id}}')" class="btn btn-danger">Delete</button> </td>
                </tbody>
                    {{/each}}
               </table>
        </div>
    </div>
</section>


<script>
    function AddVarient(){
        let prodId = document.getElementById('prodId').value
        let Size = document.getElementById('Size').value
        let Color = document.getElementById('Color').value
        let Price = document.getElementById('Price').value
        let Stock = document.getElementById('Stock').value

        $.ajax({
            url:"/admin/addVarient-submit",
            data:{
                prodId,
                Size,
                Color,
                Price,
                Stock
            },
            method:"post",
            success:(response)=>{
                  Swal.fire({
              icon: 'success',
              title: 'Added',
              showConfirmButton: false,
              timer: 1000
            })
            setTimeout(()=>{
              location.reload()
            },1000)
            }
        })
    }


  function variationDelete(variatioinId){
     let prodId = document.getElementById('prodId').value


      $.ajax({
            url:"/admin/variationDelete",
            data:{
                prodId,
                varId:variatioinId
            },
            method:"delete",
            success:(response)=>{
                  Swal.fire({
              icon: 'success',
              title: 'Deleted',
              showConfirmButton: false,
              timer: 1000
            })
            setTimeout(()=>{
              location.reload()
            },1000)
            }
        })

  }

  function variationEdit(variatioinId){
       let prodId = document.getElementById('prodId').value


      $.ajax({
            url:"/admin/variationEdit",
            data:{
                prodId,
                varId:variatioinId
            },
            method:"post",
        })

  }



</script>

