<section class="page-align" id="footer">
    <div class="container" class="mydata">
        <div class="row">
             <h1>View Product</h1>
    <table class="table table-striped table-hover table-bordered" id="SingleTable">
        <thead>
            <tr>

                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Size</th>
                <th scope="col">Color</th>
                <th scope="col">Address</th>
                <th scope="col">Shipping Status</th>

            </tr>
        </thead>
        <tbody>
            {{#each products.cart}}
            <tr>
          
                 <td>{{this.cart_product.ProductName}}</td>
                <td>{{this.quantity}}</td>
                <td>₹{{this.cart_product.Price}}</td>
                <td>₹{{this.cart_product.Size}}</td>
                <td>₹{{this.cart_product.Color}}</td>
                        {{/each}}
                <td>
                    {{products.deleviryDetails.fullName}} <br>
                    {{products.deleviryDetails.mobile}} <br>
                    {{products.deleviryDetails.houseNo}} <br>
                    {{products.deleviryDetails.useradd}} <br>
                    {{products.deleviryDetails.pin}} <br>
                    {{products.deleviryDetails.landmark}} <br>
                    {{products.deleviryDetails.town}} <br>

                    {{!-- {{Orders.address}} --}}
                </td>
                 <td>
                    <h6 class="badge bg-info">{{products.deliveryStatus}}</h6><br>

                </td>
            </tr>
        </tbody>
    </table>

        </div>
    </div>
   
</section>

